.body{
    background: #a6b7da;
    color: #161f32;
    /*background: rgb(47,50,156);*/
    /*background: linear-gradient(0deg, rgba(47,50,156,1) 0%, rgba(166,183,218,1) 100%);*/
    /*background-repeat: no-repeat;*/
}
.to-do{
    display: flex;
    justify-content: center;
}
#title{
    color: #161f32;
}
.btn-add{
    display: flex;
    justify-content: center;
    width: 15em;
    margin: 0.5em auto;
    border: none;
    background: #161f32;
    color: #ffffff;
    opacity: 0.8;
    border-radius: 10px;

}
.btn-add:hover{
    transition: 3s;
    background: rgb(22,31,50);
    background: linear-gradient(90deg, rgba(22,31,50,1) 0%, rgba(55,65,87,1) 52%, rgba(166,183,218,1) 100%);
}
.btn-danger,.btn-danger:hover {
    background: #9e706d;
    border: none;
}
.btn-success,.btn-success:hover{
    background: #748cb0!important;
    border: none;
}
.btn-warning,.btn-warning:hover{
    background: #979ba1!important;
    color: #ffffff;
    border: none;
}